name: Built and Test
on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libgtest-dev cmake

    - name: Build subprojects
      run: |
        for subproject in $(ls -d */); do
          cd $subproject
          mkdir -p build
          cd build
          cmake ..
          make
          cd ../../
        done

  test:
    name: Test
    runs-on: ubuntu-latest

    needs: build

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libgtest-dev cmake
    
    - name: Build and run tests
      run: |
        for subproject in $(ls -d */); do
          cd $subproject
          mkdir build
          cd build
          cmake ..
          make
          ctest 
          cd ../..
        done
